### 서울 광진구, 송파구 미세먼지 정보

In [ ]:
https://www.airkorea.or.kr/web/pollution/getPastChart?dateDiv=일간&period=202203&stationCode=111141

In [2]:
import requests
import bs4
import datetime as dt
import pandas as pd

In [3]:
def cal_std_day(before_day):
    x = dt.datetime.now() - dt.timedelta(before_day) #현재날짜-지정날짜
    year = x.year #연도
    month = x.month if x.month >= 10 else '0'+ str(x.month)
    day = x.day if x.day >= 10 else '0'+ str(x.day)
    return str(year) + str(month) + str(day)

In [4]:
def cal_std_month(before_day):
    x = dt.datetime.now() - dt.timedelta(30*before_day) #현재날짜-지정날짜
    year = x.year #연도
    month = x.month if x.month >= 10 else '0'+ str(x.month)
    day = x.day if x.day >= 10 else '0'+ str(x.day)
    return str(year) + str(month)

In [14]:
for i in range(70, 3, -1):
    print(cal_std_month(i))

201701
201702
201703
201704
201705
201706
201707
201708
201709
201710
201711
201712
201801
201802
201803
201804
201805
201806
201807
201808
201809
201810
201811
201812
201901
201902
201903
201904
201905
201906
201907
201908
201909
201910
201911
201912
202001
202002
202003
202004
202005
202005
202006
202007
202008
202009
202010
202011
202012
202101
202102
202103
202104
202105
202106
202107
202108
202109
202110
202111
202112
202201
202202
202203
202204
202205
202206

In [25]:
for i in range(139, 109, -1):
    print(cal_std_day(i))

20220601
20220602
20220603
20220604
20220605
20220606
20220607
20220608
20220609
20220610
20220611
20220612
20220613
20220614
20220615
20220616
20220617
20220618
20220619
20220620
20220621
20220622
20220623
20220624
20220625
20220626
20220627
20220628
20220629
20220630

In [ ]:
# 111141 : 광진구(서울어린이대공원)
# 111273 : 송파구(롯데월드)

In [1]:
url = 'https://www.airkorea.or.kr/web/pollution/getPastChart'
params = {
    'dateDiv': '일간',
    'period': '202203',
    'stationCode': '111141' # 111273
}

In [8]:
response = requests.get(url, params=params)
res = response.json()

In [33]:
gwangjin_dict = {'날짜': [], 'PM10': [], 'PM2.5': []}

In [34]:
for i in range(70, 4, -1):
    params['period'] = cal_std_month(i)
    params['stationCode'] = '111141'  # 광진구
    response = requests.get(url, params=params)
    res = response.json()
    charts = res['charts']
    for chart in charts:
        date = chart['DATA_TIME'].replace('-', '')
        pm10 = chart['VALUE_10007']
        pm25 = chart['VALUE_10008']
        gwangjin_dict['날짜'].append(date)
        gwangjin_dict['PM10'].append(pm10)
        gwangjin_dict['PM2.5'].append(pm25)

In [35]:
for i in range(139, 109, -1):
    gwangjin_dict['날짜'].append(cal_std_day(i))

In [36]:
gwangjin_dict['PM10'] += [23, 29, 38, 31, 24, 6, 5, 14, 24, 24, 22, 21, 22, 12, 10, 15, 33, 23, 26, 32, 32, 27, 41, 21, 46, 23, 13, 17, 15, 5]

In [37]:
gwangjin_dict['PM2.5'] += [9, 16, 23, 18, 15, 2, 2, 8, 13, 15, 10, 13, 13, 4, 5, 8, 20, 12, 15, 19, 19, 15, 25, 14, 33, 13, 5, 6, 7, 2]

In [38]:
df_gwangjin_fin = pd.DataFrame(gwangjin_dict)
df_gwangjin_fin

            날짜   PM10  PM2.5
0     20170101   80.0   71.0
1     20170102  111.0   95.0
2     20170103   86.0   67.0
3     20170104   54.0   40.0
4     20170105   33.0   22.0
...        ...    ...    ...
2033  20220626   23.0   13.0
2034  20220627   13.0    5.0
2035  20220628   17.0    6.0
2036  20220629   15.0    7.0
2037  20220630    5.0    2.0

[2038 rows x 3 columns]

In [39]:
df_gwangjin_fin.to_csv('광진구_미세먼지.csv', index=False, encoding='cp949')

In [65]:
songpa_dict = {'날짜': [], 'PM10': [], 'PM2.5': []}

In [66]:
for i in range(70, 4, -1):   # 70, 4, -1
    params['period'] = cal_std_month(i)
    params['stationCode'] = '111273'  # 송파구
    response = requests.get(url, params=params)
    res = response.json()
    charts = res['charts']
    for chart in charts:
        date = chart['DATA_TIME'].replace('-', '')
        pm10 = chart['VALUE_10007']
        pm25 = chart['VALUE_10008']
        songpa_dict['날짜'].append(date)
        songpa_dict['PM10'].append(pm10)
        songpa_dict['PM2.5'].append(pm25)

In [67]:
for i in range(139, 109, -1):
    songpa_dict['날짜'].append(cal_std_day(i))

In [68]:
songpa_dict['PM10'] += [25, 31, 42, 38, 26, 8, 7, 16, 27, 31, 25, 22, 26, 15, 9, 19, 34, 25, 22, 29, 34, 31, 32, 23, 46, 22, 13, 16, 14, 7]

In [69]:
songpa_dict['PM2.5'] += [10, 15, 24, 20, 15, 3, 3, 9, 15, 18, 14, 15, 15, 5, 4, 9, 22, 14, 11, 15, 19, 17, 17, 16, 33, 12, 5, 6, 7, 4]

In [70]:
df_songpa_fin = pd.DataFrame(songpa_dict)
df_songpa_fin

            날짜  PM10  PM2.5
0     20170101  64.0   49.0
1     20170102  94.0   64.0
2     20170103  76.0   47.0
3     20170104  55.0   33.0
4     20170105  31.0   19.0
...        ...   ...    ...
2033  20220626  22.0   12.0
2034  20220627  13.0    5.0
2035  20220628  16.0    6.0
2036  20220629  14.0    7.0
2037  20220630   7.0    4.0

[2038 rows x 3 columns]

In [71]:
df_songpa_fin.to_csv('송파구_미세먼지.csv', index=False, encoding='cp949')